PORT=your_port_number

MONGO_URI=your_mongodb_connection_string

JWT_SECRET=quickhire_super_secret_key

NODE_ENV=production

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret